/* Extra Small Device */
@media only screen and (max-width: 575px) {

    /* Header Section */

    #header {
        margin: 20px;
    }
    
    .container {
        width: 80%;
    }
    
    .inner-container {
        width: 100%;
    }

    .header-wrapper {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .header-wrapper-info h1 {
        font-size: 26px;
        line-height: 33px;
    }

    .header-wrapper-info p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        height: 27px;
        margin-bottom: 15px;
    }

    .header-wrapper-info {
        padding-bottom: 21px;
    }

    .header-wrapper-img img {
        width: 100%;
    }

    .header-wrapper-img {
        align-items: center;
    }

    /* Blog */
    .blog-wrapper {
        flex-direction: column;
    }

    .blog-wrapper .btn {
        padding: 10px 14px;
    }

    .blog-wrapper aside.blog-menu {
        width: auto;
        height: auto;
        margin: 0 30px;
        gap: 30px;
        background: none;
    }

    .blog-wrapper aside.blog-menu .btn {
        border: 1px solid #161616;
    }

    .blog-articles-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    footer#footer {
        margin-top: 25px;
        padding: 20px;
    }

    footer#footer .footer-text h2 {
        padding-bottom: 0;
        font-size: 22px;
    }
    
    footer#footer .footer-menu,
    footer#footer .footer-text {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    footer#footer .footer-menu {
        margin-top: 10px;
    }

    footer#footer .footer-menu a {
        display: block;
        padding: 10px;
    }

}

/* Small Devices */
@media only screen and (min-width: 576px) and (max-width: 991px) {

    #header {
        margin: 50px;
    }
    
    .container {
        width: 85%;
    }
    
    .inner-container {
        width: 100%;
    }

    .header-wrapper-info h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .header-wrapper-info p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        height: 27px;
        margin: 0 15px 15px 0;
    }

    .header-wrapper-info {
        padding-bottom: 61px;
    }

    .header-wrapper-img img {
        width: 110%;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
    }

    .blog-wrapper {
        flex-direction: column;
    }

    .blog-wrapper aside.blog-menu {
        margin: 0;
        padding: 0;
        background: none;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .blog-wrapper aside.blog-menu .btn {
        padding: 18px 45px;
        border: 1px solid #E8E8E8;
    }

    .blog-articles-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    #blog .view-all {
        display: inline-block;
    }

    footer#footer {
        margin-top: 40px;
        padding: 70px 0 0 0;
    }

    footer#footer .footer-text h2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 30px;
    }

    .footer-menu {
        margin-top: 30px;
    }

}

/* Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .header-wrapper-info h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-wrapper-info p {
        height: auto;
    }

}

/* Medium Devices */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    #header {
        margin: 50px;
    }
    
    .container {
        width: 90%;
    }
    
    .inner-container {
        width: 100%;
    }

    .header-wrapper-info h1 {
        font-size: 55px;
        line-height: 55px;
    }

    .header-wrapper-img img {
        width: 100%;
    }

    .blog-wrapper .btn {
        padding: 20px 18px;
    }

    .blog-wrapper aside.blog-menu {
        width: 50%;
    }
}

/* Extra Large Devices */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    #header {
        margin: 50px;
    }
    
    .container {
        width: 90%;
    }
    
    .inner-container {
        width: 100%;
    }
}